<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Neha's Blog</a></h1>
        </div>

        <div>
            
            <h2><a href="">My first post</a></h2>
            <p>My first post is related to my project created as a part of academics. Project Title - 'SQL injection attack prevention and Detection'</p>
            <p>published: 14.06.2014, 12:14</p>
        </div>

        
        <div>
            
            <h2><a href="">My second post</a></h2>
            <p>This is related to another one project related to Data protection using 3 layer cipher.</p>
            <p>published: 14.06.2014, 12:14</p>
        </div>
    </body>
</html>